.todo-list-item {
  font-size: 1.25rem;
}

.done {
  text-decoration: line-through;
}

.important {
  color: steelblue;
  font-weight: bold;
}

.todo-list-item-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todo-list-item button{
  width: 2rem;
  margin: .15rem;
}